* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}


/* body{
    /* width: 100vw;
    height: 100vh; 
} */


.heading {
    font-size: 30px;
    font-weight: 800;
    height: 60px;
    background-color: #6C40B3;
    color: #fff;
    display: flex;
    justify-content: center;
}

.image{
    display: flex;
    position: fixed;
    right: 100px;
    bottom: 175px;
}

.info {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 80px;
}

form {
    text-align: left;
}

.all-Details {
    padding: 20px;
}

.lable {
    font-weight: 500;
}

.sub-btn {
    background-color: #6C40B3; 
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    font-size: 12px;
  }

  .form-field:focus-within {
    position: relative;
  }
  
  .form-field:focus-within label {
    position: absolute;
    top: -0.5em;
    left: 10px;
    font-size: 12px;
    background: white;
    padding: 0 5px;
  }
  
  .form-field:focus-within input {
    padding: 8px 5px 5px;
  }



  @media only screen and (max-width:1110px)
  {
    .image{
        display: none;
    }
  }

  @media only screen and (max-width:768px)
  {
    .heading{
        margin-bottom: 60px;
    }
    .info{
        margin: 0px;
    }
  }

