* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

.heading {
  font-size: 30px;
  font-weight: 800;
  height: 60px;
  background-color: #6C40B3;
  color: #fff;
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  position: fixed;
  right: 130px;
  bottom: 220px;
}


.info {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

form {
  text-align: left;
  padding: 20px;
  margin: 20px;
  width: 400px;
  height: 400px;
  /* border: 1px solid #6C40B3; */
}

.all-Details {
  padding: 20px;
}

.boxo {
  height: 35px;
  width: 300px;
}

.lable {
  font-weight: 400;
}

.upgen {
  font-size: 14px;
  padding-left: 5px;
}

#n,
#e,
#p {
  display: none;
}

.sub-btn {
  background-color: #6C40B3;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  font-size: 12px;
}

.sub-btn:hover {
  background-color: #4f11b4;
}

.form-field:focus-within {
  position: relative;
}

.form-field:focus-within label {
  position: absolute;
  top: -0.7em;
  left: 10px;
  font-size: 12px;
  background: white;
  padding: 0 5px;
}

input:focus{
  background-color: #f7def4;
}

input:focus-visible {
  outline: 2px solid #4f11b4;
  border: none;
}

fieldset {
  display: flex;
  border: 1px solid #4f11b4;
  justify-content: space-evenly;
  width: 300px;
}

.form-field:focus-within input {
  padding: 8px 5px 5px;
}

.daba {
  font-size: 14px;
  color: rgb(60, 60, 60);
  font-weight: 800;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }

@media only screen and (max-width:1110px) {
  .image {
    display: none;
  }
}

@media only screen and (max-width:768px) {
  .heading {
    margin-bottom: 60px;
  }

  .info {
    margin: 0px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}